*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #020202;
    color: white;
}
.header{
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    background-image: url("images/IMG_20250624_203820_921-removebg.png" );
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
}
.container{
    padding: 10px 10%;
}

/* Header Navigation Bar CSS */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    position: absolute;
    background: rgb(128, 6, 6);
    width: 0;
    height: 3px;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}
.header-text h1 span{
    color: rgb(30, 167, 124);
}

.about{
    padding: 80px 30px;
    color: rgb(226, 223, 223);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.colum1{
    flex-basis: 35%;
}
.colum1 img{
    width: 100%;
    border-radius: 15px;
}

.colum2{
    flex-basis: 60%;

}
.colum2 h1{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.links{
        margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.links::after{
        content: '';
    position: absolute;
    background: rgb(128, 6, 6);
    width: 0;
    height: 3px;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.links.active::after{
    width: 50%;
}

.contents ul li {
    list-style: none;
    margin: 10px 0;
}
.contents ul li span{
    color: rgb(108, 42, 42);
    font-size: 15px;
}
.contents{
    display: none;
}

.contents.display-contents{
    display: block;
}

/* ----------Portfolio--------- */

#portfolio{
padding: 50px 0;
}

.title{
        font-size: 60px;
    font-weight: 600;
}

.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.works{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.works img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}


